.reviews {
  width: 320px;
  margin: 0 auto;
  padding: 23px 30px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  background: url("../img/product-of-the-week__bg-zigzag--mobile.png") repeat-x 0 100%;
}

.reviews__title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 25px;
  line-height: 30px;
}

.reviews__write {
  margin-bottom: 51px;
  width: 260px;
  height: 52px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  order: 1;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  border: 2px solid #444444;
  color: #444444;
  background-color: #ffffff;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: #7c7c7c;
  }
}

.reviews__slider {
  width: 260px;
  overflow: hidden;
}

.reviews__slides {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
}

.reviews__slides--show-1 {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.reviews__slides--show-2 {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.reviews__slides--show-3 {
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  transform: translateX(-200%);
}

.reviews__slide {
  width: 100%;
  flex-shrink: 0;
}

.reviews__description {
  margin: 0;
  margin-bottom: 27px;
  padding-right: 10px;
  font-size: 15px;
  line-height: 30px;
}

.reviews__author-wrapper {
  margin-bottom: 29px;
}

.reviews__author {
  margin: 0;
  margin-bottom: 3px;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.reviews__nickname {
  margin: 0;
  font-size: 17px;
  line-height: 30px;
}

.reviews__button-wrapper {
  margin-bottom: 38px;
  display: flex;
}

.reviews__back {
  width: 130px;
  height: 52px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ececec;
  border-right: none;
  background-color: #ffffff;

  &:hover .reviews__back-arrow {
    fill: #666666;
  }

  &:active .reviews__back-arrow {
    fill: #b2b2b2;
  }

  &[disabled] {
    border-color: #444444;
    background-color: #444444;

    & .reviews__back-arrow {
      fill: #ffffff;
    }
  }
}

.reviews__forward {
  width: 130px;
  height: 52px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ececec;
  background-color: #ffffff;

  &:hover .reviews__forward-arrow {
    fill: #666666;
  }

  &:active .reviews__forward-arrow {
    fill: #b2b2b2;
  }

  &[disabled] {
    background-color: #444444;

    & .reviews__forward-arrow {
      fill: #ffffff;
    }
  }
}

@media (min-width: 768px) {
  .reviews {
    width: 768px;
    padding: 77px 50px 100px;
    justify-content: space-between;
    background: url("../img/product-of-the-week__bg-zigzag--tablet.png") repeat-x 0 100%,
                url("../img/reviews__bg--tablet.jpg") no-repeat 0 0;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__write {
    width: 175px;
    margin-bottom: 47px;
    order: 0;
  }

  .reviews__slider {
    width: 668px;
    position: relative;
  }

  .reviews__description {
    margin-bottom: 61px;
    font-size: 17px;
  }

  .reviews__author {
    font-size: 18px;
  }

  .reviews__button-wrapper {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 33px;
    right: 10px;
  }

  .reviews__back,
  .reviews__forward {
    width: 68px;
    margin: 0;
    border: none;
  }

  .reviews__back {
    margin-right: 19px;
  }
}

@media (min-width: 1250px) {
  .reviews {
    width: 1250px;
    padding: 71px 100px 157px 275px;
    background: url("../img/product-of-the-week__bg-zigzag--desktop.png") repeat-x 0 100%,
                url("../img/reviews__bg--tablet.jpg") no-repeat 100px 0;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__write {
    margin-top: 8px;
    margin-bottom: 45px;
  }

  .reviews__slider {
    width: 875px;
  }

  .reviews__description {
    margin-bottom: 40px;
  }
}